    #java specific
    *.class

    #netbeans ignore personal stuff
    nbproject/

    ## generic files to ignore
    *~
    *.lock
    *.DS_Store
    *.swp
    *.out

    ## datos
    AVI*.txt
    Comisiones*.TXT
    *.pdf
    *.sqlite
/Datos/
/Backup/


    # Package Files #
    *.jar
    *.war
    *.ear
/build/